In [31]:
import pandas as pd
import numpy as np

data = {"col1":[1,2,3,4,7],"col2":[4,5,6,9,5],"col3":[7,8,12,1,11]}

df = pd.DataFrame(data)
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

### 第四十六題
### Write a Pandas program to check whether a given column is present in a DataFrame or not.

### Col4 is not present in DataFrame.
### Col1 is present in DataFrame.

In [8]:
for i in ["col4","col1"]:
    if i in df.columns:
        print("{} is present in DataFrame".format(i))
    else:
        print("{} is not present in DataFrame".format(i))

col4 is not present in DataFrame
col1 is present in DataFrame

### 第四十七題
### Write a Pandas program to get the specified row value of a given DataFrame.

Value of Row
col1 1
col2 4
col3 7
Name: 0, dtype: int64


Value of Row4
col1 4
col2 9
col3 1
Name: 3, dtype: int64

In [24]:
for i in [0,3]:
    if i ==0:
        print("Value of Row")
        print(df.iloc[i])
        print()
    else:
        print("Value of Row{}".format(i+1))
        print(df.iloc[i])

Value of Row
col1    1
col2    4
col3    7
Name: 0, dtype: int64

Value of Row4
col1    4
col2    9
col3    1
Name: 3, dtype: int64

### 第四十八題
### Write a Pandas program to get the datatypes of columns of a DataFrame.

Sample data:
Original DataFrame:
 attempts  name        qualify score
0 1       Anastasia      yes   12.5
1 3         Dima         no    9.0
.......
8 2          Kevin       no    8.0
9 1          Jonas       yes   19.0


Data types of the columns of the said DataFrame:
attempts int64
name object
qualify object
score float64
dtype: object

In [32]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

print("Data types of the columns of the said DataFrame:")
print(df.dtypes)

Data types of the columns of the said DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

### 第四十九題
### Write a Pandas program to append data to an empty DataFrame.

After appending some data:
col1 col2
0 0 0
1 1 1
2 2 2

In [35]:
df = pd.DataFrame()

data = pd.DataFrame({"col1":range(3),"col2":range(3)}) 

df = df.append(data,ignore_index=True)
print(df)

   col1  col2
0     0     0
1     1     1
2     2     2

### 第五十題
### Write a Pandas program to sort a given DataFrame by two or more columns.

Sort the above DataFrame on attempts, name:
attempts name qualify score
0 1 Anastasia yes 12.5
9 1 Jonas yes 19.0
7 1 Laura no NaN
6 1 Matthew yes 14.5
4 2 Emily no 9.0
2 2 Katherine yes 16.5
8 2 Kevin no 8.0
1 3 Dima no 9.0
3 3 James no NaN
5 3 Michael yes 20.0

In [45]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
#print(df)

df.sort_values(['attempts',"name"])

df = df[['attempts','name','qualify','score']]
print(df)

   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

### 第五十一題
### Write a Pandas program to convert the datatype of a given column (floats to ints)

Now change the Data type of 'score' column from float to int:
attempts name qualify score
0 1 Anastasia yes 12
1 3 Dima no 9
2 2 Katherine yes 16
3 3 James no 12
4 2 Emily no 9
5 3 Michael yes 20
6 1 Matthew yes 14
7 1 Laura no 11
8 2 Kevin no 8
9 1 Jonas yes 19

Data types of the columns of the DataFrame now:
attempts int64
name object
qualify object
score int64
dtype: object

In [50]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9.1, 16.5, 12.77, 9.21, 20.22, 14.5, 11.34, 8.8, 19.13],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)


df['score'] = df['score'].astype('int')
print(df.dtypes)

name        object
score        int32
attempts     int64
qualify     object
dtype: object

### 第五十二題
### Write a Pandas program to remove infinite values from a given DataFrame.

Sample data:
Original DataFrame:
0
0 1000.0
1 2000.0
2 3000.0
3 -4000.0
4 inf
5 -inf


Removing infinite values:
0
0 1000.0
1 2000.0
2 3000.0
3 -4000.0
4 NaN
5 NaN

In [68]:
df = pd.DataFrame([1000, 2000, 3000, -4000, np.inf, -np.inf])
print(df)


df = df.replace([np.inf,-np.inf],np.nan)
print(df)

        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     inf
5    -inf
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     NaN
5     NaN

### 第五十三題
### Write a Pandas program to insert a given column at a specific column index in a DataFrame.

Sample data:
Original DataFrame
col2 col3
0 4 7
1 5 8
2 6 12
3 9 1
4 5 11

New DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11

In [71]:
data = {'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data)

col1 = [1,2,3,4,7]

df.insert(loc=0, column='col1', value = col1)
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

### 第五十四題
### Write a Pandas program to convert a given list of lists into a Dataframe.

Sample data:
Original list of lists:
[[2, 4], [1, 3]]

New DataFrame
col1 col2
0 2 4
1 1 3

In [75]:
list1 = [[2, 4], [1, 3]]

df = pd.DataFrame(list1,columns=["col1",'col2'])
print(df)

   col1  col2
0     2     4
1     1     3

### 第五十五題
### Write a Pandas program to group by the first column and get second column as lists in rows.

Sample data:
Original DataFrame
col1 col2
0 C1 1
1 C1 2
2 C2 3
3 C2 3
4 C2 4
5 C3 6
6 C2 5


Group on the col1:
col1
C1 [1, 2]
C2 [3, 3, 4, 5]
C3 [6]
Name: col2, dtype: object

In [107]:
data = {'col1':['C1','C1','C2','C2','C2','C3','C2'],'col2':[1,2,3,3,4,6,5]}
df = pd.DataFrame(data)


df1 = df.groupby('col1')['col2'].apply(list)

print(df1)

col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object

### 第五十六題
### Write a Pandas program to get column index from column name of a given DataFrame.

In [ ]:
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11


Index of 'col2'
1

In [111]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

print("Index of 'col2'")
print(df.columns.get_loc("col2"))

Index of 'col2'
1

# 第五十七題
### Write a Pandas program to count number of columns of a DataFrame.

Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11
Number of columns:
3

In [116]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

print('Number of columns:')
print(len(df.columns))

Number of columns:
3

### 第五十八題
### Write a Pandas program to select all columns, except one given column in a DataFrame.

Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11


All columns except 'col3':
col1 col2
0 1 4
1 2 5
2 3 6
3 4 9
4 7 5

In [119]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

print("All columns except 'col3':")
print(df.loc[:,df.columns != 'col3'])

All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

### 第五十九題
### Write a Pandas program to get first n records of a DataFrame.

Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11

First 3 rows of the said DataFrame':
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8

In [125]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)

print('First 3 rows of the said DataFrame')
print(df.iloc[0:3])

print('-'*100)
print('another answer')
print('First 3 rows of the said DataFrame')
print(df.head(3))

First 3 rows of the said DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
----------------------------------------------------------------------------------------------------
another answer
First 3 rows of the said DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

### 第六十題
### Write a Pandas program to get last n records of a DataFrame.

Last 3 rows of the said DataFrame':
col1 col2 col3
3 4 9 12
4 7 5 1
5 11 0 11

In [126]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)

print('Last 3 rows of the said DataFrame')
df.tail(3)

Last 3 rows of the said DataFrame

   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

### 第六十一題
### Write a Pandas program to get topmost n records within each group of a

topmost n records within each group of a DataFrame:

col1 col2 col3
5 11 0 11
4 7 5 1
3 4 9 12
col1 col2 col3
3 4 9 12
2 3 6 8
1 2 5 5
4 7 5 1
col1 col2 col3
3 4 9 12
5 11 0 11
2 3 6 8

### 寫法1

### DataFrame.nlargest(self, n, columns, keep='first') 

### 返回按列降序排列的前n行。

### 以降序返回column中具有最大值的前n行。未指定的列也将返回，但不用于排序。

### 此方法等效于 ，但性能更高。df.sort_values(columns, ascending=False).head(n)

In [127]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)

print("topmost n records within each group of a DataFrame:")
df1 = df.nlargest(3, 'col1')
print(df1)

df2 = df.nlargest(3, 'col2')
print(df2)

df3 = df.nlargest(3, 'col3')
print(df3)

topmost n records within each group of a DataFrame:
   col1  col2  col3
5    11     0    11
4     7     5     1
3     4     9    12
   col1  col2  col3
3     4     9    12
2     3     6     8
1     2     5     5
   col1  col2  col3
3     4     9    12
5    11     0    11
2     3     6     8

### 寫法2

In [130]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)

print("topmost n records within each group of a DataFrame:")

df1 = df.sort_values('col1',ascending=False).head(3)
print(df1)

df2 = df.sort_values('col2',ascending=False).head(3)
print(df2)

df3 = df.sort_values('col3',ascending=False).head(3)
print(df3)

topmost n records within each group of a DataFrame:
   col1  col2  col3
5    11     0    11
4     7     5     1
3     4     9    12
   col1  col2  col3
3     4     9    12
2     3     6     8
1     2     5     5
   col1  col2  col3
3     4     9    12
5    11     0    11
2     3     6     8