In [2]:
import pandas as pd
import numpy as np

example = {"col1":[1,4,3,4,5],"col2":[4,5,6,7,8], 'col3':[7,8,9,0,1]}

df = pd.DataFrame(example)

# 第三十一題
## Write a Pandas program to select a row of series/dataframe by given integer index.

Sample data:
Original DataFrame
  col1 col2 col3
0   1    4   7
1   4    5   8
2   3    6   9
3   4    7   0
4   5    8   1

Index-2: Details
  col1 col2 col3
2  3     6    9

In [6]:
df = pd.DataFrame(example)

print('Index-2: Details')
print(df.loc[[2]])

Index-2: Details
   col1  col2  col3
2     3     6     9

# 第三十二題
## Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

New DataFrame replacing all NaN with 0:
attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16
3 3 James no 0.0
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no 0.0
8 2 Kevin no 8.0
9 1 Jonas yes 19.0

In [7]:
example = {"attempts":[1,3,2,3,2,3,1,1,2,1],"name":["Anastasia","Dima","Katherine","James","Emily","Michael","Matthew",
           "Laura","Kevin","Jonas"],"qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],"score":[12.5,9.0
            ,16.5,np.nan,9.0,20.0,14.5,np.nan,8.0,19.0]}

df = pd.DataFrame(example)
print(df)

   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

In [19]:
df1 = df.fillna(0)
print(df1)

   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    0.0
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    0.0
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

# 第三十三題
## Write a Pandas program to convert index in a column of the given dataframe.

After converting index in a column:
index attempts name qualify score
0 0 1 Anastasia yes 12.5
1 1 3 Dima no 9.0
2 2 2 Katherine yes 16.5
3 3 3 James no NaN
4 4 2 Emily no 9.0
5 5 3 Michael yes 20.0
6 6 1 Matthew yes 14.5
7 7 1 Laura no NaN
8 8 2 Kevin no 8.0
9 9 1 Jonas yes 19.0

In [30]:
df = pd.DataFrame(example)

print("\nAfter converting index in a column:")
print('-'*100)
df.reset_index(level=0, inplace=True)
print(df)


print("\nHiding index:")
print('-'*100)
print( df.to_string(index=False))

After converting index in a column:
----------------------------------------------------------------------------------------------------
   index  attempts       name qualify  score
0      0         1  Anastasia     yes   12.5
1      1         3       Dima      no    9.0
2      2         2  Katherine     yes   16.5
3      3         3      James      no    NaN
4      4         2      Emily      no    9.0
5      5         3    Michael     yes   20.0
6      6         1    Matthew     yes   14.5
7      7         1      Laura      no    NaN
8      8         2      Kevin      no    8.0
9      9         1      Jonas     yes   19.0

Hiding index:
----------------------------------------------------------------------------------------------------
 index  attempts      name qualify  score
     0         1 Anastasia     yes   12.5
     1         3      Dima      no    9.0
     2         2 Katherine     yes   16.5
     3         3     James      no    NaN
     4         2     Emily      no    9.0
     5         3   Michael     yes   20.0
     6         1   Matthew     yes   14.5
     7         1     Laura      no    NaN
     8         2     Kevin      no    8.0
     9         1     Jonas     yes   19.0

# 第三十四題
## Write a Pandas program to set a given value for particular cell in  DataFrame using index value.

Set a given value for particular cell in the DataFrame
attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16.5
3 3 James no NaN
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
8 2 Kevin no 10.2
9 1 Jonas yes 19.0

In [11]:
print('old version')
df = pd.DataFrame(example)
print(df)

print('-'*100)

print('new version')
df.at[8,'score'] = 10.2
print(df)

print('-'*100)
print('another version')

df2 = df.copy()

df2.loc[8,'score'] = 10.2
print(df2)

old version
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0
----------------------------------------------------------------------------------------------------
new version
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no   10.2
9         1      Jonas     yes   19.0
----------------------------------------------------------------------------------------------------
another version
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no   10.2
9         1      Jonas     yes   19.0

# 第三十五題
## Write a Pandas program to count the NaN values in one or more columns in DataFrame

Sample data:
Original DataFrame
attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16.5
3 3 James no NaN
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
8 2 Kevin no 8.0
9 1 Jonas yes 19.0
Number of NaN values in one or more columns:
2

In [14]:
df = pd.DataFrame(example)
#print(df)

print('Number of NaN values in one or more columns:')
print(df.isnull().values.sum())

Number of NaN values in one or more columns:
2

# 第三十六題
## Write a Pandas program to drop a list of rows from a specified

Sample data:
Original DataFrame
col1 col2 col3
0 1 4 7
1 4 5 8
2 3 6 9
3 4 7 0
4 5 8 1

New DataFrame after removing 2nd & 4th rows:
col1 col2 col3
0 1 4 7
1 4 5 8
3 4 7 0

In [19]:
example = {"col1":[1,4,3,4,5],"col2":[4,5,6,7,8], 'col3':[7,8,9,0,1]}

df = pd.DataFrame(example)

df = df.drop(df.index[[2,4]])
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

# 第三十七題
## Write a Pandas program to reset index in a given DataFrame.

Sample data:
Original DataFrame
attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16.5
3 3 James no NaN
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
8 2 Kevin no 8.0
9 1 Jonas yes 19.0

----------------------------------------------------
After removing first and second rows
attempts name qualify score
2 2 Katherine yes 16.5
3 3 James no NaN
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
8 2 Kevin no 8.0
9 1 Jonas yes 19.0

------------------------------------------------------
Reset the Index:
index attempts name qualify score
0 2 2 Katherine yes 16.5
1 3 3 James no NaN
2 4 2 Emily no 9.0
3 5 3 Michael yes 20.0
4 6 1 Matthew yes 14.5
5 7 1 Laura no NaN
6 8 2 Kevin no 8.0
7 9 1 Jonas yes 19.0

In [83]:
example = {"attempts":[1,3,2,3,2,3,1,1,2,1],"name":["Anastasia","Dima","Katherine","James","Emily","Michael","Matthew",
           "Laura","Kevin","Jonas"],"qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],"score":[12.5,9.0
            ,16.5,np.nan,9.0,20.0,14.5,np.nan,8.0,19.0]}

df = pd.DataFrame(example)
print(df)

df1 = df.drop(df.index[[0,1]])
df1.reset_index(level=0, inplace=True)

print(df1)

   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0
   index  attempts       name qualify  score
0      2         2  Katherine     yes   16.5
1      3         3      James      no    NaN
2      4         2      Emily      no    9.0
3      5         3    Michael     yes   20.0
4      6         1    Matthew     yes   14.5
5      7         1      Laura      no    NaN
6      8         2      Kevin      no    8.0
7      9         1      Jonas     yes   19.0

# 第三十八題
## Write a Pandas program to divide a DataFrame in a given ratio

Sample data:
Original DataFrame:
0 1
0 0.316147 -0.767359
1 -0.813410 -2.522672
2 0.869615 1.194704
3 -0.892915 -0.055133
4 -0.341126 0.518266
5 1.857342 1.361229
6 -0.044353 -1.205002
7 -0.726346 -0.535147
8 -1.350726 0.563117
9 1.051666 -0.441533

-------------------------------------------------
70% of the said DataFrame:
0 1
8 -1.350726 0.563117
2 0.869615 1.194704
5 1.857342 1.361229
6 -0.044353 -1.205002
3 -0.892915 -0.055133
1 -0.813410 -2.522672
0 0.316147 -0.767359

----------------------------------------------------
30% of the said DataFrame:
0 1
4 -0.341126 0.518266
7 -0.726346 -0.535147
9 1.051666 -0.441533

- 函數：sample
* DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None)

- 參數說明
* n, frac：設定要抽樣出的筆數，兩者擇一使用。
  * 預設值：frac=None, n=1 (抽出一筆)
  * n (int)：要抽出的筆數
  * frac (float)：要抽出的比例，0~1
- replace：取出後是否放回
    * 預設值：False (取後不放回)
    * replace=True (取後放回)
- weights：每筆資料被抽出來的權重。
   * 預設值：None

- random_state：隨機的狀態。(白話文就是，當random_state設定同一個數值時，同一群資料被隨機抽出來的結果會一樣)
- axis：要根據哪一個軸來抽樣：
    - 預設值：None
        * 0：index
        * 1：columns

In [84]:
df = pd.DataFrame(np.random.randn(10, 2))

print("Original DataFrame:")
print(df)

part_70 = df.sample(frac=0.7,random_state=10)

part_30 = df.drop(part_70.index)

print("\n70% of the said DataFrame:")
print(part_70)

print("\n30% of the said DataFrame:")
print(part_30)

Original DataFrame:
          0         1
0  0.411422 -0.548445
1  0.700189 -0.498876
2 -0.909237 -0.539819
3 -0.642619  0.472336
4  0.384173 -1.181503
5  0.593737 -0.711593
6  0.756013  0.602124
7 -1.306940 -0.534644
8 -1.897578  1.713128
9  0.582700  0.474138

70% of the said DataFrame:
          0         1
8 -1.897578  1.713128
2 -0.909237 -0.539819
5  0.593737 -0.711593
6  0.756013  0.602124
3 -0.642619  0.472336
1  0.700189 -0.498876
0  0.411422 -0.548445

30% of the said DataFrame:
          0         1
4  0.384173 -1.181503
7 -1.306940 -0.534644
9  0.582700  0.474138

# 第三十九題
## Write a Pandas program to combining two series into a DataFrame.

Sample data:

Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object

---------------------------------

0 10
1 20
2 php
3 30.12
4 40
dtype: object

----------------------------------------

New DataFrame combining two series:
   0      1
0 100     10
1 200     20
2 python  php
3 300.12  30.12
4 400      40

In [89]:
s1 = pd.Series([100,200,"python",300.12,400])
s2 = pd.Series([10,20,"php",30.12,40])

df = pd.concat([s1, s2], axis=1)
print(df)

        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

# 第四十題
## Write a Pandas program to shuffle a given DataFrame rows.

Sample data:
Original DataFrame:
attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16.5
3 3 James no NaN
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
8 2 Kevin no 8.0
9 1 Jonas yes 19.0

------------------------------------------------------------------

New DataFrame:
attempts name qualify score
5 3 Michael yes 20.0
0 1 Anastasia yes 12.5
9 1 Jonas yes 19.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
1 3 Dima no 9.0
3 3 James no NaN
4 2 Emily no 9.0
8 2 Kevin no 8.0
2 2 Katherine yes 16.5

In [22]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df = pd.DataFrame(exam_data)

print("Original DataFrame:")
print(df)


df = df.sample(frac=1)
print("\nNew DataFrame:")
print(df)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

New DataFrame:
        name  score  attempts qualify
6    Matthew   14.5         1     yes
1       Dima    9.0         3      no
5    Michael   20.0         3     yes
9      Jonas   19.0         1     yes
8      Kevin    8.0         2      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
0  Anastasia   12.5         1     yes
7      Laura    NaN         1      no
3      James    NaN         3      no

# 第四十一題
## Write a Pandas program to convert DataFrame column type from string to datetime.

Sample data:
  String Date:
0  3/11/2000
1  3/12/2000
2  3/13/2000
dtype: object

--------------------------------------------------------
Original DataFrame (string to datetime):
0
0 2000-03-11
1 2000-03-12
2 2000-03-13

In [104]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])
print("String Date:")
print(s)

r = pd.to_datetime(pd.Series(s))
df = pd.DataFrame(r)

print("Original DataFrame (string to datetime):")
print(df)

String Date:
0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object
Original DataFrame (string to datetime):
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

In [103]:
date = {"String Date":['3/11/2000','3/12/2000','3/13/2000']}

df = pd.DataFrame(date)
print(df)

df['String Date'] = pd.to_datetime(df['String Date'])
print(df)

  String Date
0   3/11/2000
1   3/12/2000
2   3/13/2000
  String Date
0  2000-03-11
1  2000-03-12
2  2000-03-13

# 第四十二題
## Write a Pandas program to rename a specific column name in a given DataFrame.

Sample data:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 9

---------------------------------------

New DataFrame after renaming second column:
col1 Column2 col3
0 1 4 7
1 2 5 8
2 3 6 9

In [106]:
col = {"col1":[0,1,2],"col2":[4,5,6],"col3":[7,8,9]}

df = pd.DataFrame(col)
print(df)

df1 = df.rename(columns={"col2":"Column2"})
print(df1)

   col1  col2  col3
0     0     4     7
1     1     5     8
2     2     6     9
   col1  Column2  col3
0     0        4     7
1     1        5     8
2     2        6     9

# 第四十三題
## Write a Pandas program to get a list of a specified column of a DataFrame.

Sample data:
Powered by
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 9

Col2 of the DataFrame to list:
[4, 5, 6]

In [110]:
col = {"col1":[0,1,2],"col2":[4,5,6],"col3":[7,8,9]}

df = pd.DataFrame(col)
print(df)

col2_list = df["col2"].tolist()

print(col2_list)

   col1  col2  col3
0     0     4     7
1     1     5     8
2     2     6     9
[4, 5, 6]

In [109]:
col = {"col1":[0,1,2],"col2":[4,5,6],"col3":[7,8,9]}

df = pd.DataFrame(col)
print(df)

col2_list = (list(df['col2']))
print(col2_list)

   col1  col2  col3
0     0     4     7
1     1     5     8
2     2     6     9
[4, 5, 6]

# 第四十四題
## Write a Pandas program to create a DataFrame from a Numpy array and specify the index column and column headers.

Sample Output:
Column1 Column2 Column3
Index1 0 0.0 0.0
Index2 0 0.0 0.0
Index3 0 0.0 0.0
.........
Index12 0 0.0 0.0
Index13 0 0.0 0.0
Index14 0 0.0 0.0
Index15 0 0.0 0.0

In [111]:
import pandas
import numpy

dtype = [('Column1','int32'), ('Column2','float32'), ('Column3','float32')]
values = numpy.zeros(15, dtype=dtype)
index = ['Index'+str(i) for i in range(1, len(values)+1)]


df = pandas.DataFrame(values, index=index)
print(df)

         Column1  Column2  Column3
Index1         0      0.0      0.0
Index2         0      0.0      0.0
Index3         0      0.0      0.0
Index4         0      0.0      0.0
Index5         0      0.0      0.0
Index6         0      0.0      0.0
Index7         0      0.0      0.0
Index8         0      0.0      0.0
Index9         0      0.0      0.0
Index10        0      0.0      0.0
Index11        0      0.0      0.0
Index12        0      0.0      0.0
Index13        0      0.0      0.0
Index14        0      0.0      0.0
Index15        0      0.0      0.0

# 第四十五題
## Write a Pandas program to find the row for where the value of a given column is maximum.
## 查詢每一欄最大值的索引值

Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11

Row where col1 has maximum value:
4
Row where col2 has maximum value:
3
Row where col3 has maximum value:
2

In [113]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print(df)

print('Row where col1 has maximum value:')
print(df['col1'].idxmax()) 

print('Row where col2 has maximum value:')
print(df['col2'].idxmax()) 

print('Row where col3 has maximum value:')
print(df['col3'].idxmax())

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Row where col1 has maximum value:
4
Row where col2 has maximum value:
3
Row where col3 has maximum value:
2