# 背景環境
### 資料來源 : https://www.w3resource.com/python-exercises/pandas/index-dataframe.php

In [ ]:
import pandas as pd
import numpy as np

# Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# 第一題
## Write a Pandas program to get the powers of an array values element-wise.

Note: First array elements raised to powers from second array
Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
Expected Output:
  X  Y  Z
0 78 84 86
1 85 94 97
2 96 89 96
3 80 83 72
4 86 86 83

In [3]:
df = pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

# 第二題
## Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

     attempts     name  qualify  score                                  
a         1  Anastasia     yes   12.5                                  
b         3       Dima      no    9.0                                  
c         2  Katherine     yes   16.5                                  
d         3      James      no    NaN                                  
e         2      Emily      no    9.0                                  
f         3    Michael     yes   20.0                                  
g         1    Matthew     yes   14.5                                  
h         1      Laura      no    NaN                                  
i         2      Kevin      no    8.0                                  
j         1      Jonas     yes   19.0

In [7]:
df = pd.DataFrame(exam_data, index = labels )
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# 第三題
## Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

Expected Output:

    Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
.... dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [14]:
df = pd.DataFrame(exam_data, index = labels)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

# 第四題
## Write a Pandas program to get the first 3 rows of a given DataFrame.

Expected Output:
First three rows of the data frame:
attempts name qualify score
a 1 Anastasia yes 12.5
b 3 Dima no 9.0
c 2 Katherine yes 16.5

In [23]:
df = pd.DataFrame(exam_data, index = labels)

print(df[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

# 第五題
##  Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

Expected Output:
Select specific columns:
name score
a Anastasia 12.5
b Dima 9.0
c Katherine 16.5
... h Laura NaN
i Kevin 8.0
j Jonas 19.0

In [24]:
df = pd.DataFrame(exam_data, index = labels)

print(df[['name','score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

# 第六題
## Write a Pandas program to select the specified columns and rows from a given data frame.

Expected Output:
Select specific columns and rows:
score qualify
b 9.0 no
d NaN no
f 20.0 yes
g 14.5 yes

In [40]:
df = pd.DataFrame(exam_data, index = labels)

print(df.iloc[[1,3,5,6],[1,3]])

   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

# 第七題
## Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

Expected Output:
Number of attempts in the examination is greater than 2:
name score attempts qualify
b Dima 9.0 3 no
d James NaN 3 no
f Michael 20.0 3 yes

### 寫法1

In [46]:
df = pd.DataFrame(exam_data, index = labels)

print(df.query('attempts > 2'))

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

### 寫法2

In [47]:
df = pd.DataFrame(exam_data, index = labels)

print(df[df['attempts']>2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

# 第八題
##  Write a Pandas program to count the number of rows and columns of a DataFrame.

Expected Output:
Number of Rows: 10
Number of Columns: 4

In [54]:
df = pd.DataFrame(exam_data , index=labels)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 10
Number of Columns: 4

# 第九題
## Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

Expected Output:
Rows where score is missing:
attempts name qualify score
d 3 James no NaN
h 1 Laura no NaN

### 寫法1

In [68]:
df = pd.DataFrame(exam_data, index = labels)

print(df.query('score.isnull()'))

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

### 寫法2

In [69]:
df = pd.DataFrame(exam_data, index = labels)

print(df[df['score'].isna()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

# 第十題
## Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

### 寫法1

In [70]:
df = pd.DataFrame(exam_data, index = labels)

print(df.query('score >=15 and score <=20'))

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

### 寫法2

In [75]:
df = pd.DataFrame(exam_data, index = labels)

print(df[df['score'].between(15, 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

# 第十一題
## Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

### 寫法1

In [76]:
df = pd.DataFrame(exam_data, index = labels)

print(df.query('attempts < 2 and score > 15'))

    name  score  attempts qualify
j  Jonas   19.0         1     yes

### 寫法2

In [77]:
df = pd.DataFrame(exam_data, index = labels)

print(df[(df['attempts'] < 2) & (df['score'] > 15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

# 第十二題
## Write a Pandas program to change the score in row 'd' to 11.5

Expected Output:
Change the score in row 'd' to 11.5:
attempts name qualify score
a 1 Anastasia yes 12.5
b 3 Dima no 9.0
c 2 Katherine yes 16.5
...
i 2 Kevin no 8.0
j 1 Jonas yes 19.0

In [87]:
df = pd.DataFrame(exam_data, index = labels)

df.loc['d','score'] = 11.5
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# 第十三題
## Write a Pandas program to calculate the sum of the examination attempts by the students.

Expected Output:
Sum of the examination attempts by the students:
19

In [95]:
df = pd.DataFrame(exam_data, index = labels)

print('Sum of the examination attempts by the students:')
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

# 第十四題
## Write a Pandas program to calculate the mean score for each different student in DataFrame.

Expected Output:
Mean score for each different student in data frame:
13.5625

In [94]:
df = pd.DataFrame(exam_data, index = labels)

print('Mean score for each different student in data frame:')
print(df['score'].mean())

Mean score for each different student in data frame:
13.5625

# 第十五題
## Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

Expected Output:

Append a new row:
Print all records after insert a new record:
attempts name qualify score
a 1 Anastasia yes 12.5
b 3 Dima no 9.0
......
j 1 Jonas yes 19.0
k 1 Suresh yes 15.5

Delete the new row and display the original rows:
attempts name qualify score
a 1 Anastasia yes 12.5
b 3 Dima no 9.0
........
i 2 Kevin no 8.0
j 1 Jonas yes 19.0

### 寫法1

In [108]:
df = pd.DataFrame(exam_data, index = labels)

df.loc['k'] = [1, 'Suresh', 'yes', 15.5]

print("Print all records after insert a new record:")
print(df)

print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Print all records after insert a new record:
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima     9.0        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily     9.0        2      no
f    Michael    20.0        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin     8.0        2      no
j      Jonas    19.0        1     yes
k          1  Suresh      yes    15.5

Delete the new row and display the original  rows:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes

### 寫法2

In [107]:
df = pd.DataFrame(exam_data, index = labels)

# 增加一列資料
df1 = pd.DataFrame({'attempts':1,'name':'Suresh','qualify':'yes','score':15.5},index = ['k'])

df2 = df.append(df1)
print(df2)


# 利用index，刪除新建的資料
df3 = df2.drop('k')
print(df3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes